* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #002339;
    color: #fff;
}

.container {
    margin: 12%;
    width: 90%;
    min-width: 700px;
}

.display {
    position: relative;
    width: 600px;
    margin-top: 50px;
    margin-bottom: 30px; 
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}

.container h1 {
    font-weight: 500;
    font-size: 45px;
}

.container h1 span {
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}

.display img {
    right: 50px;
    cursor: pointer;
    width: 30px;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 24px;
}

.container button {
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}